
.head, .about{
    background-color: rgba(26, 188, 156, 1);
}


.debug_portfolio{
height: 400px;
}
.debug_head{
    height: 300px;
    
}
.debug_about{
    height: 300px;
}
.debug_footer{
    height: 200px;
    background-color:  rgba(44, 62, 80, 1);
}

/************************
          TITOLO
*************************/
.img_contain{
    display: flex;
    height: 60%;
    background-color: thistle;
    justify-content: center;
    align-items: flex-end;
}
.img{
    width: 100px;
    height: 100px;
    background-color: rgb(224, 9, 224);
    
}
.title{
    width: 100%;
    height: 40%;
    background-color: rgb(223, 109, 223);
}
.row1{
    height: 33%;
}
.titolo{
    background-color: rgb(77, 37, 77);
}
.stella{
    background-color: rgb(77, 54, 77);
}
.intestazione{
    background-color: rgb(71, 5, 71);
}
/************************
          PROFILO
*************************/
.profi{
    height: 20%;
}
.card{
    height: 80%;
}
.col-4{
    width: 250px;
    
}
/************************
          ABOUT
*************************/          
.about> div{
    height: 33.33%;
}
.about_top{
    background-color: rgba(100, 148, 237, 0.349);
}   
.about_midle{
    background-color: rgba(143, 179, 245, 0.294);
}
.about_bottom{
    background-color: rgba(184, 207, 250, 0.356);
}
/************************
          CONTACT ME
*************************/ 
.contact_me> div{
    height: 33.33%;
}
/************************
          footer
*************************/
.color_f_top{
    background-color: rgba(58, 84, 109, 1);
    height: 70%;
}
.color_f_bottom{
    height: 30%;
    background-color: rgba(44, 62, 80, 1);
}
footer>div{
    justify-content: center;
}